<h1>Main page</h1>

<%= link_to "Добавить ключ", controller: "kvstorages", action: "new" %>
</br><%= link_to "Вывести список ключей", controller: "kvstorages", action: "show_all" %>
</br><%= link_to "Вывести список ключей со значенями", controller: "kvstorages", action: "show_id_values" %>
</br><%= link_to "Список ключей в порядке убывания числа считываний", controller: "kvstorages", action: "stat" %>
</br><%= link_to "Перемешать значения ключей", controller: "kvstorages", action: "shuffle" %> 
